app/src/main/assets/databases/word_database.db filter=lfs diff=lfs merge=lfs -text
app/src/main/assets/room_import.json filter=lfs diff=lfs merge=lfs -text
日语数据处理/jmdict-all-3.6.2.json filter=lfs diff=lfs merge=lfs -text
日语数据处理/links.tar.bz2 filter=lfs diff=lfs merge=lfs -text
日语数据处理/sentences.tar_2.bz2 filter=lfs diff=lfs merge=lfs -text
